<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="QualityEclipse"
            id="com.qualityeclipse.favorites">
      </category>
      <view
            name="Favorites View"
            icon="icons/sample.gif"
            category="com.qualityeclipse.favorites"
            class="com.qualityeclipse.favorites.views.FavoritesView"
            id="com.qualityeclipse.favorites.views.FavoritesView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.qualityeclipse.favorites.workbenchActionSet"
            label="Favorites ActionSet"
            visible="true">
         <menu
               id="com.qualityeclipse.favorites.workbenchMenu"
               label="Fa&amp;vorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="com.qualityeclipse.favorites.actions.OpenFavoritesViewActionDelegate"
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.openFavoritesView"
               label="Open Favo&amp;rites View"
               menubarPath="com.qualityeclipse.favorites.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Open the favorites view in the current workbench page">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.qualityeclipse.favorites.popupMenu"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.popupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="contents">
            </groupMarker>
            <separator
                  name="seperator">
            </separator>
         </menu>
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               menubarPath="com.qualityeclipse.favorites.popupSubMenu/contents"
               enablesFor="+"
               icon="icons/b2cub.gif"
               id="com.qualityeclipse.favorites.addToFavorites"
               label="Add"
               tooltip="Add the selected resource(s) to the Favorites view">
         </action>
      </objectContribution>
      <viewerContribution
            id="com.qualityeclipse.favorites.membersViewPopup"
            targetID="org.eclipse.jdt.ui.MembersView">
         <menu
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.membersViewPopupSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="contents">
            </groupMarker>
            <separator
                  name="separator">
            </separator>
         </menu>
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               icon="icons/b2cub.gif"
               id="com.qualityeclipse.favorites.addToFavoritesInMembersView"
               label="Add"
               menubarPath="com.qualityeclipse.favorites.membersViewPopupSubMenu/contents"
               tooltip="Add selected member’s compilation unit to the Favorites view">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.qualityeclipse.favorites.membersViewActions"
            targetID="org.eclipse.jdt.ui.MembersView">
         <action
               class="com.qualityeclipse.favorites.actions.AddToFavoritesActionDelegate"
               icon="icons/b2cub.gif"
               id="com.qualityeclipse.favorites.addToFavoritesInMembersView"
               label="Add"
               menubarPath="com.qualityeclipse.favorites.membersViewPulldownSubMenu/content"
               style="push"
               toolbarPath="additions"
               tooltip="Add the selected items in the Members view to the Favorites ">
         </action>
         <menu
               icon="icons/sample.gif"
               id="com.qualityeclipse.favorites.membersViewPulldownSubMenu"
               label="Favorites"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </viewContribution>
   </extension>

</plugin>
